<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layouts/layout">

<title layout:fragment="page-title">WolfVilla | Delete Service</title>
<section layout:fragment="page-content">
    <h1>Delete Service <small>ID: <span th:text="${service.id}"></span></small></h1>
    <h3>Are you sure you want to delete the follow Service?</h3>
    <form method="POST" th:action="@{|/services/delete/${service.id}|}">
        <section th:include="services/_serviceform :: serviceform"></section>
        <button type="submit" class="btn btn-danger">Yes</button>
        <a th:href="@{/services}" class="btn btn-info">Cancel</a>
    </form>
</section>

<section layout:fragment="page-scripts">
    <script>
        $("input[type='text']").prop("disabled", "disabled");
    </script>
</section>

</html>
