<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layouts/layout">

<title layout:fragment="page-title">WolfVilla | Add Hotel</title>
<section layout:fragment="page-content">
    <h1>Add New Hotel</h1>
    <form method="post" th:action="@{/hotels/new}">
        <section th:include="hotels/_hotelform :: hotelform"></section>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a th:href="@{/hotels}" class="btn btn-info">Cancel</a>
    </form>
</section>

</html>
