<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layouts/layout">

<title layout:fragment="page-title">WolfVilla | Hotels</title>

<section layout:fragment="page-content">
    <h1>
        Hotels
        <a th:href="@{/hotels/new}" class="btn btn-success btn-xs">Add New Hotel</a>
    </h1>

    <table class="cell-border stripe" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>Phone Number</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="hotel : ${hotels}">
            <td th:text="${hotel.primaryKey}"></td>
            <td th:text="${hotel.name}">test</td>
            <td th:text="${hotel.address}">test</td>
            <td th:text="${hotel.phoneNumber}">test</td>
            <td><a th:href="@{|/hotels/${hotel.primaryKey}|}" th:text="Edit"></a><br/>
                <a th:href="@{|/hotels/delete/${hotel.primaryKey}|}" th:text="Delete"></a></td>
        </tr>
        </tbody>
    </table>
</section>

<section layout:fragment="page-scripts">
    <script>
        $(function(){
            $("table").dataTable();
        });
    </script>
</section>

</html>
