<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layouts/layout">

<title layout:fragment="page-title">WolfVilla | Add Customer</title>
    <section layout:fragment="page-content">
    <h1>Add New Customer</h1>
    <form method="post" th:action="@{/customers/new}">
        <section th:include="customers/_customerform :: customerform"></section>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a th:href="@{/customers}" class="btn btn-info">Cancel</a>
    </form>
</section>

</html>
