<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layouts/layout">

<title layout:fragment="page-title">WolfVilla | Edit Customer</title>
<section layout:fragment="page-content">
    <h1>Edit Customer <small>ID: <span th:text="${customer.id}"></span></small></h1>
    <form method="post" th:action="@{|/customers/edit/${customer.id}|}" th:object="${customer}">
        <section th:include="customers/_customerform :: customerform"></section>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a th:href="@{/customers}" class="btn btn-info">Cancel</a>
    </form>
</section>

</html>
