<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layouts/layout">

<title layout:fragment="page-title">WolfVilla | Report Occupants</title>
<section layout:fragment="page-content">
    <h1>Report Occupants</h1>
    <form method="post" th:action="@{/customers/all_occupants}">
        <section th:include="customers/_customerdateform :: customerdateform"></section>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</section>

</html>
