<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layouts/layout">

    <section th:fragment="roomform">
        <div class="form-group">
            <label for="roomNumber">Room Number</label>
            <input id="roomNumber" name="roomNumber" class="form-control" type="text" th:field="*{roomNumber}" />
        </div>
        <div class="form-group">
            <label for="categoryName">Category</label>
            <select id="categoryName" name="categoryName" class="selectpicker" data-width="100%" th:field="*{category.categoryName}">
                <option value="Economy">Economy</option>
                <option value="Deluxe">Deluxe</option>
                <option value="Executive Suite">Executive Suite</option>
                <option value="Presidential Suite">Presidential Suite</option>
            </select>
        </div>
        <div class="form-group">
            <label for="maxOccupancy">Max Occupancy</label>
            <!--<input id="maxOccupancy" name="maxOccupancy" class="form-control" type="text" th:field="*{category.maxOccupancy}" />-->
            <select id="maxOccupancy" name="maxOccupancy" class="selectpicker" data-width="100%" th:field="*{category.maxOccupancy}">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </div>
    </section>

</html>