<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layouts/layout">

<title layout:fragment="page-title">WolfVilla | All Available Rooms</title>
<section layout:fragment="page-content">
    <h1>All Available Rooms <small>(Hotel ID: <span th:text="${hotelId}"></span>)</small>
    <a th:href="@{|/hotels/${hotelId}/rooms/new|}" class="btn btn-success btn-xs">Add New Room</a>
    <a th:href="@{|/hotels/${hotelId}/rooms|}" class="btn btn-info btn-xs">List All Rooms</a></h1>
    <table class="cell-border stripe" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Room Number</th>
            <th>Category</th>
            <th>Max Occupancy</th>
            <th>Nightly Rate</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="room : ${rooms}">
            <td th:text="${room.roomNumber}">test</td>
            <td th:text="${room.category.categoryName}">test</td>
            <td th:text="${room.category.maxOccupancy}">test</td>
            <td th:text="${room.category.nightlyRate}">test</td>
            <td><a th:href="@{|/hotels/${hotelId}/rooms/${room.roomNumber}|}" th:text="Edit"></a><br/>
                <a th:href="@{|/hotels/${hotelId}/rooms/delete/${room.roomNumber}|}" th:text="Delete"></a></td>
        </tr>
        </tbody>
    </table>
</section>

<section layout:fragment="page-scripts">
    <script>
        $(function(){
            $("table").dataTable();
        });
    </script>
</section>

</html>
