<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layouts/layout">

<title layout:fragment="page-title">WolfVilla | All Unoccupied Rooms</title>
<section layout:fragment="page-content">
    <h1>All Unoccupied Rooms <small>(Hotel ID: <span th:text="${hotelId}"></span>, Percent Occupied: <span th:text="${percent}"></span>)</small></h1>
    <table class="cell-border stripe" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Room Number</th>
            <th>Category</th>
            <th>Max Occupancy</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="room : ${rooms}">
            <td th:text="${room.roomNumber}">test</td>
            <td th:text="${room.categoryName}">test</td>
            <td th:text="${room.maxOccupancy}">test</td>
        </tr>
        </tbody>
    </table>
</section>

<section layout:fragment="page-scripts">
    <script>
        $(function(){
            $("table").dataTable();
        });
    </script>
</section>

</html>
