<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layouts/layout">

<title layout:fragment="page-title">WolfVilla | Add Checkin</title>
<section layout:fragment="page-content">
    <h1>Add New Checkin</h1>
    <form method="post" th:action="@{|/checkin/checkout/${id}|}">
        <div class="form-group">
            <label for="checkout">Checkout Date (YYYY-MM-DD)</label>
            <input id="checkout" name="checkout" class="form-control" type="text" th:value="${checkout}" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a th:href="@{/checkin}" class="btn btn-info">Cancel</a>
    </form>
</section>

</html>
