<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layouts/layout">

<title layout:fragment="page-title">WolfVilla | Edit Checkin</title>
<section layout:fragment="page-content">
    <h1>Edit Checkin <small>ID: <span th:text="${checkin.id}"></span></small></h1>
    <form method="post" th:action="@{|/checkin/edit/${checkin.id}|}">
        <section th:include="checkin/_checkinform :: checkinform"></section>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a th:href="@{/checkin}" class="btn btn-info">Cancel</a>
    </form>
</section>

</html>
